/**
 * UTILS
 *
 * @description : Utility styles
 *
 */

.u-mt--lg {
  margin-top: 5rem;
}

.u-mb--lg {
  margin-bottom: 5rem;
}

.u-mt--sm {
  margin-top: 1rem;
}

.u-mb--sm {
  margin-bottom: 1rem;
}
