.close {
  float: right;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: .5;
  border: none;
  background: none;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

.page-link:focus {
  box-shadow: none;
}

.nav-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .3s ease-out;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
