@import './base/color.css';
@import './base/typography.css';

body {
  padding-top: 50px;
}

.login-form > div {
    margin-top: 10px;
}

.todos__layout {
	min-width: 350px;
	width: 80%;
	max-width: 550px;
	margin: auto;
}