body {
    padding-top: 50px;
}

.login-form > div {
    margin-top: 10px;
}

.button-clear-properties {
    background: inherit;
    border: none;
    border-radius: 0;
    padding: 0;
    cursor: pointer;
    text-align: left;
    line-height: 1.5;
}

.todo,
.todoList {
    transition: all 0.25s ease;
}

.todo-completed {
    text-decoration: line-through;
    filter: opacity(0.5);
}

.todo-deleted {
    filter: opacity(0);
}

.todo-checkbox {
    font-size: 32px;
}

.todoList-enter,
.todoList-leave-to {
    opacity: 0;
}
