<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title '' %} - Todos</title>

        <link rel="stylesheet" href="{{ asset('build/app.css') }}">
    </head>
    <body>
        <div id="app"></div>
        <script src="{{ asset('build/app.js') }}"></script>
        <script src="{{ asset('build/runtime.js') }}"></script>
    </body>
</html>
