{% extends "layout.html" %}

{% block content %}
<section class="col-md-8 col-md-offset-2">
    <h1>Todo List:</h1>
    <table class="table table-striped">
        <tr><th>#</th><th>User</th><th></th><th>Description</th><th></th></tr>
        <tr v-for="todo in todoList" :key="todo.id">
            <td v-text="todo.id"></td>
            <td v-text="todo.user_id"></td>
            <td>
                <div class="round">
                    <input type="checkbox" :id="todo.id" v-model="todo.completed" true-value="1" false-value="0" @change="toggleTodo(todo)" />
                    <label :for="todo.id"></label>
                </div>
            </td>
            <td>
                <a class="todo-description todo-link strikethrough" :class="{ completed: todo.completed === '1' }" @click="navigateToDetail(todo)" v-text="todo.description"></a>
            </td>
            <td>
                <button type="submit" class="close" title="Delete" aria-label="Delete" @click="deleteTodo(todo)"><span aria-hidden="true">&times;</span></button>
            </td>
        </tr>
        <tr>
            <td colspan="4">
                <input type="textbox" name="description" class="small-6 small-center" autofocus autocomplete="off"
                placeholder="Description..."
                v-model.trim="newTodo" @keyup.enter="addTodo">
            </td>
            <td>
                <button type="submit" class="btn btn-sm btn-primary" @click="addTodo">Add</button>
            </td>
        </tr>
    </table>
</section>
{% endblock %}