{% extends "layout.html" %}

{% block content %}
<noscript>
    <strong>We're sorry but frontend-test doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
</noscript>
<div class="todo-container">
    <h1>My Todo:</h1>
    <table class="todos table table-striped">
        <tbody>
            <tr>
                <th>Description</th>
                <th>Completed</th>
                <th></th>
            </tr>
            <tr id="todo"></tr>
        </tbody>
    </table>
</div>
{% endblock %}