{% extends "layout.html" %}

{% block content %}
<div class="col-md-4 col-md-offset-4">
    <h1>Todo List:</h1>
    <div id="react-todolist">
      <!-- Display skeleton loader while loading -->
      <div class="skeleton-box"></div>
      <div class="skeleton-box"></div>
      <div class="skeleton-box"></div>
      <div class="skeleton-box"></div>
      <div class="skeleton-box"></div>
    </div>
    <table class="table table-striped table-sticky">
        <tr>
            <form method="post" action="{{ app.request.baseurl }}/todo/add">
                <td colspan="3">
                    <input type="textbox" name="description" autofocus class="small-6 small-center form-control" placeholder="Description...">
                </td>
                <td colspan="2">
                    <button type="submit" disabled class="btn btn btn-disabled btn-block btn-add-todo">Add</button>
                </td>
            </form>
        </tr>
    </table>
</div>

<script type="text/babel" src="{{ app.request.baseurl }}/js/react-todo-list.js"></script>
<script type="text/javaScript">
  document.querySelector('[name="description"]').addEventListener('keyup', function(e) {
    const value = e.target.value;
    const addBtn = document.querySelector('.btn-add-todo');
    
    if (value) {
      addBtn.removeAttribute('disabled');
      addBtn.classList.remove('btn-disabled');
      addBtn.classList.add('btn-primary');
    } else {
      addBtn.setAttribute('disabled', true);
      addBtn.classList.add('btn-disabled');
      addBtn.classList.remove('btn-primary');
    }
  });
</script>
{% endblock %}