<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Isaac Frontend Test - Todos</title>
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:400,500,700,400italic|Material+Icons">
</head>
<body>
<div id="app">

    <md-app md-mode="reveal">
        <md-app-toolbar class="md-primary">
            <md-button class="md-icon-button" @click="menuVisible = !menuVisible">
                <md-icon>menu</md-icon>
            </md-button>
            <span class="md-title">${title}</span>
        </md-app-toolbar>

        <md-app-drawer :md-active.sync="menuVisible">
            <md-toolbar class="md-transparent" md-elevation="0">Navigation</md-toolbar>

            <md-list>
                <md-list-item @click="$router.push('/'); menuVisible = false">
                    <md-icon>move_to_inbox</md-icon>
                    <span class="md-list-item-text">Home</span>
                </md-list-item>

                <md-list-item @click="$router.push('/todo'); menuVisible = false" v-if="user">
                    <md-icon>move_to_inbox</md-icon>
                    <span class="md-list-item-text">Todo</span>
                </md-list-item>

                <md-list-item @click="logout('/login'); menuVisible = false" v-if="user">
                    <md-icon>send</md-icon>
                    <span class="md-list-item-text">Logout</span>
                </md-list-item>

                <md-list-item @click="$router.push('/login'); menuVisible = false" v-if="!user">
                    <md-icon>delete</md-icon>
                    <span class="md-list-item-text">Login</span>
                </md-list-item>
            </md-list>
        </md-app-drawer>
        <md-app-content class="app-content">
            <transition name="slow-fade">
                <router-view :user="user" @login="login"></router-view>
            </transition>
        </md-app-content>
    </md-app>
</div>
<script>
    var serverData = {
        exception: {
            code: -1,
            message: null
        },
        user: null
    };


    {% if code is defined and code is not null %}
    serverData.exception.code = "{{ code }}";
    {% endif %}
    {% if message is defined and code is not null %}
    serverData.exception.message = "{{ message|e('js') }}";
    {% endif %}
    {% if username is defined and username is not null %}
    serverData.user = {
        username: "{{ username|e('js') }}"
    };
    {% endif %}


</script>
<script src="{{ app.request.basepath }}/js/bundle.js"></script>
</body>
</html>